Repository OCA/rest-framework, pull requests merged in 2021-03, with the labels that each got.

#125 rest_log: fix test usage of MockRequest
  rest_log/tests/common.py
  rest_log/tests/test_db_logging.py
Labels: bot is merging ⏳

#130 [13.0][FIX] base_rest: fix default_auth not automatically applied on routes
  base_rest/models/rest_service_registration.py
  base_rest/tests/common.py
  base_rest/tests/test_controller_builder.py
Labels: 13.0, base_rest, bot is merging ⏳

#131 [10.0] improvements
  .pre-commit-config.yaml
  base_rest/components/service.py
Labels: 10.0, base_rest, bot is merging ⏳

#133 [12.0][FIX] base_rest: Adapt tests according to changes into component
  base_rest/tests/common.py
  base_rest/tests/test_controller_builder.py
  base_rest/tests/test_openapi_generator.py
Labels: 12.0, base_rest, bot is merging ⏳

#126 [13.0][FIX] base_rest invalid dynamic object (controller) construction
  base_rest/controllers/main.py
Labels: 13.0, base_rest, bot is merging ⏳

#132 [13.0][FIX] base_rest: Includes default parameters and responses into the g…
  base_rest/apispec/rest_method_param_plugin.py
  base_rest/tests/test_openapi_generator.py
  base_rest_demo/tests/data/partner_api.json
  base_rest_demo/tests/data/partner_image_api.json
  base_rest_demo/tests/data/ping_api.json
Labels: 13.0, base_rest, bot is merging ⏳

#128 [12.0][FIX] base_rest: Allow disabling a service when _is_rest_service_component is False
  base_rest/controllers/api_docs.py
Labels: 12.0, base_rest, bot is merging ⏳

#136 [WIP][14.0] forwardport 13.0
  base_rest/apispec/rest_method_param_plugin.py
  base_rest/controllers/main.py
  base_rest/models/rest_service_registration.py
  base_rest/tests/common.py
  base_rest/tests/test_controller_builder.py
  base_rest/tests/test_openapi_generator.py
  base_rest/views/base_rest_view.xml
  base_rest_demo/tests/data/partner_api.json
  base_rest_demo/tests/data/partner_image_api.json
  base_rest_demo/tests/data/ping_api.json
  rest_log/README.rst
  rest_log/__init__.py
  rest_log/__manifest__.py
  rest_log/components/__init__.py
  rest_log/components/service.py
  rest_log/data/ir_config_parameter_data.xml
  rest_log/data/ir_cron_data.xml
  rest_log/exceptions.py
  rest_log/hooks.py
  rest_log/models/__init__.py
  rest_log/models/rest_log.py
  rest_log/readme/CONFIGURE.rst
  rest_log/readme/CONTRIBUTORS.rst
  rest_log/readme/CREDITS.rst
  rest_log/readme/DESCRIPTION.rst
  rest_log/readme/HISTORY.rst
  rest_log/security/groups.xml
  rest_log/security/ir.model.access.csv
  rest_log/static/description/icon.png
  rest_log/static/description/index.html
  rest_log/tests/__init__.py
  rest_log/tests/common.py
  rest_log/tests/test_db_logging.py
  rest_log/views/menu.xml
  rest_log/views/rest_log_views.xml
  setup/rest_log/odoo/addons/rest_log
  setup/rest_log/setup.py
Labels: bot is merging ⏳
